/* Krāsu palete: https://www.color-hex.com/color-palette/1053819 */
.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee; /* Gaišā krāsa */
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: #eeeeee; /* Gaišā krāsa */
}

h1 {
  text-align: center;
  background: #eeeeee; /* Virsrakstiem */
  padding: 5px;
  font-weight: bold; /* Treknraksts */
}

h2 {
  color: #750000; /* Tumšāka krāsa */
}

ul {
  text-align: center;
  padding: 0px;
}

li {
  display: inline-block;
}

.block {
  display: inline-block;
  background: #750000; /* Tumšāka krāsa */
  width: 100px;
  height: 100px;
  border: 1px solid #750000; /* Tumšāka krāsa */
  text-align: center;
  margin: 5px;
  font-size: 45px;
  vertical-align: top;
}

.block div {
  display: none;
}

table {
  width: 100%;
}

table th {
  font-weight: bold; /* Treknraksts */
  color: #FF5733; /* Mainīta krāsa */
}

#jauns {
  background-color: #345f50; /* Tumšāka krāsa */
}

label {
  font-weight: bold; /* Treknraksts */
  color: #750000; /* Tumšāka krāsa */
}

input[type="number"], input[type="email"], select {
  background-color: #345f50; /* Tumšāka krāsa */
  border: 1px solid #000920;
  padding: 5px;
}

button {
  background-color: #eeeeee; /* Mainīta krāsa pogai */
  border-radius: 10px; /* Noapaļot */
  padding: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #FF5733; /* Krāsa uzbraucot ar peli */
}

.temp-text {
  font-style: italic; /* Slīpraksts */
  color: #FF5733; /* Mainīta krāsa */
}